*~
fort.*
fatal*
logfile*
GIT.commands
src_diffuse/*.o
src_diffuse/*.mod
src_diffuse/makefile
src_diffuse/*~
src_weather/*.o
src_weather/*.mod
src_weather/makefile
src_weather/*~
src_evolve/*.o
src_evolve/*.mod
src_evolve/makefile
src_evolve/*~
diffuse
diffudrift
diffuevo
out.*
output*
Teff*
movies/*.mpg
database.dat
dispol_selection.dat
gmon.out
gprof*

