*~
fort.*
fatal*
logfile*
GIT.commands
src/*.o
src/*.mod
src/makefile
src/*~
diffuse
src_dustchem/*.o
src_dustchem/*.mod
src_dustchem/makefile
src_dustchem/*~
src_evolve/*.o
src_evolve/*.mod
src_evolve/makefile
src_evolve/*~
diffuse
diffudrift
diffuevo
out.*
output*
movies/*.mpg
database.dat
dispol_selection.dat
gmon.out
gprof*

